<!--
 * @Author: Resunoon
 * @Date: 2020-12-02 18:22:23
 * @LastEditTime: 2020-12-02 18:42:44
 * @LastEditors: Resunoon
 * @Description: 最后写亿行
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理页面</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" />
</head>

<body>
    <div class="container">
        {% include 'adminhead.html' %}
        <form action="/addbroadcastapi" method="POST">
            <div class="row justify-content-center">
                <span>标题:</span> <br> <input class="form-control" type="text" name="title">
            </div>
            <div class="row justify-content-center mt-2">
                <span>内容:</span> <br> <input class="form-control" type="text" name="content">
            </div>
            <div class="row justify-content-center mt-2">
                <button class="btn-primary">提交</button>
            </div>
        </form>
    </div>
</body>