<!--
 * @Author: Resunoon
 * @Date: 2020-12-01 22:47:54
 * @LastEditTime: 2020-12-02 17:37:40
 * @LastEditors: Resunoon
 * @Description: 最后写亿行
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand disabled">车辆管理系统</a>
    <div class="navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{admin}}">
                <a class="nav-link" href="/admin">主页 </a>
            </li>
            <li class="nav-item {{order}}">
                <a class="nav-link" href="/order">订单情况</a>
            </li>
            <li class="nav-item {{broadcast}}">
                <a class="nav-link" href="/broadcast">发布公告</a>
            </li>
        </ul>
        <span class="navbar-text">
            <a href="/logout"><button class="btn btn-danger">退出系统</button>
            </a>
        </span>
    </div>
</nav>