<!--
 * @Author: Resunoon
 * @Date: 2020-11-16 07:09:22
 * @LastEditTime: 2020-11-16 07:09:23
 * @LastEditors: Resunoon
 * @Description: 最后写亿行
-->
<div class="row justify-content-center">
    <!-- 导航 -->
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {{index}}" href="/index">支付页面</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{map}}" href="/map">校车地图</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{my}}" href="/my">我的</a>
        </li>
</div>