<!--
 * @Author: Resunoon
 * @Date: 2020-12-02 18:49:48
 * @LastEditTime: 2020-12-02 19:11:17
 * @LastEditors: Resunoon
 * @Description: 最后写亿行
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>校车管理系统</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" />
    <style>
        .label:empty {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        {% include 'head.html' %}
        <div class="row justify-content-center">
            <table class="table col-lg-6 col-8">
                <thead>
                    <th>#</th>
                    <th>乘车时间</th>
                </thead>
                <tbody>
                    {% for item in takeinfo %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{item[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>